/*#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}*/

div.action {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav .nav-link.active {
  background-color: #1E88E5;
}

.nav+.nav .nav-link.active {
  background-color: #43A047;
}

.nav+.nav+.nav .nav-link.active {
  background-color: #E53935;
}

.nav+.nav+.nav+.nav .nav-link.active {
  background-color: #8E24AA;
}

.nav+.nav+.nav+.nav+.nav .nav-link.active {
  background-color: #6D4C41;
}

/*.table-head th {
  background-color: #90A4AE;
  text-align: center;
  border: solid 1px;
}*/

.table-search thead th {
  background-color: #CFD8DC;
}
