{% extends "index.html" %} {% block content %}

{% macro print_chart(id, title, badge, js_data, js_function) -%}
  <div class"chart {{ id }}">
    <h4 class="text-center"><span class="badge {{ badge }}">{{ title|capitalize }}</span></h4>
    <div id="{{ id }}"></div>
  </div>
  <script>
    var data = {{ js_data|tojson|safe }}
    var func = {{ js_function }}
    window['func']({{ id }}, data)
  </script>
{%- endmacro %}

<div class="row">
  {%set n_cols = col if col else 6 %}
  {% set badges = ["badge-warning", "badge-secondary", "badge-primary", "badge-success", "badge-danger"]%}
  <div class="col-lg-12 col-xl-{{n_cols}} one">
    {% for chart in charts %}
      {% if loop.index is odd %}
        {{ print_chart("id" ~ loop.index ~"", chart.title, "badge-warning", chart, chart.type) }}
      {% endif %}
    {% endfor %}
  </div>
  <div class="col-lg-12 col-xl-{{n_cols}} two">
    {% for chart in charts %}
      {% if loop.index is even %}
        {{ print_chart("id" ~ loop.index ~"", chart.title, "badge-warning", chart, chart.type) }}
      {% endif %}
    {% endfor %}
  </div>
</div>
{% if table_hw %}
{% macro print_row_stat(data, size, key, name) -%}
    <th rowspan={{size}}>{{name}}</th>
    <td rowspan={{size}}>{{data[key].avg|round(1)}}</td>
    <td rowspan={{size}}>{{data[key].conf|round(1)}}</td>
    <td rowspan={{size}}>{{data[key].std|round(1)}}</td>
    <td rowspan={{size}}>{{data[key].q1|round(1)}}</td>
    <td rowspan={{size}}>{{data[key].q2|round(1)}}</td>
    <td rowspan={{size}}>{{data[key].q3|round(1)}}</td>
    <td rowspan={{size}}>{{data[key].min|round(1)}}</td>
    <td rowspan={{size}}>{{data[key].max|round(1)}}</td>
    <td rowspan={{size}}>{{data[key].cnt}}</td>
{%- endmacro %}
  <div class="table-responsive">
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th rowspan="2">Packs</th>
          <th rowspan="2">Len(Bytes)</th>
          <th rowspan="2">Rate</th>
          <th rowspan="2">Hops</th>
          <th rowspan="2">Stat</th>
          <th colspan="9">Cpu(%)</th>
          <th rowspan="2">Stat</th>
          <th colspan="9">Memory (MB)</th>

        </tr>
        <tr>
          <th>Avg</th>
          <th>Conf (95%)</th>
          <th>Std</th>
          <th>Q1</th>
          <th>Q2</th>
          <th>Q3</th>
          <th>Min</th>
          <th>Max</th>
          <th># Cnt</th>
          <th>Avg</th>
          <th>Conf (95%)</th>
          <th>Std</th>
          <th>Q1</th>
          <th>Q2</th>
          <th>Q3</th>
          <th>Min</th>
          <th>Max</th>
          <th># Cnt</th>
        </tr>
      </thead>
      <tbody>
        {% set size =  2%}
        {% for s in table_hw %}
          <tr>
            <td rowspan={{size}}>{{s.pkts}}</td>
            <td rowspan={{size}}>{{s.len}}</td>
            <td rowspan={{size}}>{{s.rate}}</td>
            <td rowspan={{size}}>{{s.hops}}</td>
            {{print_row_stat(s, 1, 'cpu_total', "Cpu Total")}}
            {{print_row_stat(s, 1, 'mem_shared', "Mem Shared")}}
          </tr>
          <tr>
            {{print_row_stat(s, 1, 'cpu_proc', "Cpu Process")}}
            {{print_row_stat(s, 1, 'mem_rss', "Mem Rss")}}
          </tr>
        {% endfor %}
      </tbody>
  </div>
{% endif %}
{% endblock %}
