{% extends "index.html" %} {% block content %}

<!--
<table id="#table"
     data-toggle="table"
     data-search="false"
     data-filter-control="true"
     data-show-export="true"
     data-click-to-select="true"
     data-toolbar="#toolbar">

     data-filter-control="select"
-->

{% macro print_row_tag(data, size, tag) -%}
    <th rowspan={{size}} scope="row">{{tag}}</th>
    <td rowspan={{size}}>{{data.pkts[tag]['sent']}}</td>
    <td rowspan={{size}}>{{data.pkts[tag].rcv}}</td>
    <td rowspan={{size}}>{{data.pkts[tag].route}}</td>
    <td rowspan={{size}}>{{data.traffic[tag].sent}}</td>
    <td rowspan={{size}}>{{data.traffic[tag].rcv}}</td>
    <td rowspan={{size}}>{{data.traffic[tag].route}}</td>
{%- endmacro %}

{% macro print_row_lat(data, size, key, name) -%}
    <th rowspan={{size}}>{{name}}</th>
    <td rowspan={{size}}>{{data.latency_stats[key].avg|round(1)}}</td>
    <td rowspan={{size}}>{{data.latency_stats[key].conf|round(1)}}</td>
    <td rowspan={{size}}>{{data.latency_stats[key].std|round(1)}}</td>
    <td rowspan={{size}}>{{data.latency_stats[key].q1|round(1)}}</td>
    <td rowspan={{size}}>{{data.latency_stats[key].q2|round(1)}}</td>
    <td rowspan={{size}}>{{data.latency_stats[key].q3|round(1)}}</td>
    <td rowspan={{size}}>{{data.latency_stats[key].min|round(1)}}</td>
    <td rowspan={{size}}>{{data.latency_stats[key].max|round(1)}}</td>
    <td rowspan={{size}}>{{data.latency_stats[key].cnt}}</td>
{%- endmacro %}

<div class="table-responsive">
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th rowspan="2">Len(Bytes)</th>
        <th rowspan="2">Rate</th>
        <th rowspan="2">Hops</th>
        <th rowspan="2">Stats</th>
        <th colspan="9">Latency (ms)</th>
        <th rowspan="2">Msg Tag<th>
        <th colspan="3"># Packets</th>
        <th colspan="3">Traffic (Bytes)</th>
      </tr>
      <tr>
        <th>Avg</th>
        <th>Conf (95%)</th>
        <th>Std</th>
        <th>Q1</th>
        <th>Q2</th>
        <th>Q3</th>
        <th>Min</th>
        <th>Max</th>
        <th data-toogle="tooltip" title="Number of messages sent">#P</th>
        <th>Sent</th>
        <th>Rcv</th>
        <th>Route</th>
        <th>Sent</th>
        <th>Rcv</th>
        <th>Route</th>
      </tr>
    </thead>
    <tbody>
      {% set size =  6 %}
      {% for s in stats %}
        <tr>
          <td rowspan={{size}}>{{s.len}}</td>
          <td rowspan={{size}}>{{s.rate}}</td>
          <td rowspan={{size}}>{{s.hops}}</td>
          {{print_row_lat(s, 1, 'full', "Total")}}
          {{print_row_tag(s, 1, 'all')}}
        </tr>
        <tr>
          {{print_row_lat(s, 1, 'mw', "Mw")}}
          {{print_row_tag(s, 1, 'fnd')}}
        </tr>
        <tr>
          {{print_row_lat(s, 1, '1', "1 hop")}}
          {{print_row_tag(s, 2, 'req')}}
        </tr>
        <tr>
          {{print_row_lat(s, 1, '2', "2 hop")}}
        </tr>
        <tr>
          {{print_row_lat(s, 1, '3', "3 hop")}}
          {{print_row_tag(s, 2, 'ack')}}
        </tr>
        <tr>
          {{print_row_lat(s, 1, '4', "4 hop")}}
        </tr>
      {% endfor %}
    </tbody>
</div>

{% endblock %}
