{% extends "index.html" %}
{% block content %}

{% macro print_row(data) -%}
  <!-- Formation -->
  {% set first = data.conn_first %}
  <td>{{first.avg|round(1)}}</td>
  <td>{{first.conf|round(1)}}</td>
  <td>Q1:{{first.q1|round(1)}} Q2:{{first.q2|round(1)}} Q3:{{first.q3|round(1)}} IQR:{{first.iqr|round(1)}}</td>
  {% set last = data.conn_last %}
  <td>{{last.avg|round(1)}}</td>
  <td>{{last.conf|round(1)}}</td>

  <!-- Group -->
  {% set group = data.group %}
  <td>{{group.avg|round(1)}}</td>
  <td>{{group.min}}</td>
  <td>{{group.max}}</td>

  <!-- connections success -->
  {% set conn = data.conn_success %}
  <td>{{conn.cnt}}</td>
  <td>{{conn.avg|round(1)}}</td>
  <td>{{conn.conf|round(1)}}</td>
  <td>{{conn.min|round(1)}}</td>
  <td>{{conn.max|round(1)}}</td>

  <!-- connections fails -->
  {% set fail = data.conn_fails %}
  <td>{{fail.cnt}}</td>
  <td>{{fail.avg|round(1)}}</td>
  <td>{{fail.conf|round(1)}}</td>

  <!-- Discovery -->
  {% set dis = data.dis %}
  <td>{{dis.cnt}}</td>
  <td>{{dis.avg|round(1)}}</td>
  <td>{{dis.conf|round(1)}}</td>
{%- endmacro %}

<div class="table-responsive">
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th rowspan="2" data-toogle="tooltip" title="Delay time in seconds">Delay</th>
        <th rowspan="2" data-toogle="tooltip" title="Experiment repetition number">Rep</th>
        <th colspan="3" data-toogle="tooltip" title="First Connection Stats">First Connection</th>
        <th colspan="2" data-toogle="tooltip" title="Last Connection Stats">Last Connection</th>
        <th colspan="3" data-toogle="tooltip" title="Group Stats">Group</th>
        <th colspan="5" data-toogle="tooltip" title="Connections Success Stats">Conn Success Time</th>
        <th colspan="3" data-toogle="tooltip" title="Connections Failures Stats">Conn Fail Time</th>
        <th colspan="3" data-toogle="tooltip" title="Discovery Stats">Discovery Time</th>
      </tr>
      <tr>
          <th data-toogle="tooltip" title="First Conn Avg (seconds)">Avg</th>
          <th data-toogle="tooltip" title="Confidence Interval">C-95%</th>
          <th data-toogle="tooltip" title="Quartiles">Quartiles</th>

          <th data-toogle="tooltip" title="Last Conn Avg (seconds)">Avg</th>
          <th data-toogle="tooltip" title="Confidence Interval">C-95%</th>

          <th data-toogle="tooltip" title="Average Number of groups">Avg</th>
          <th data-toogle="tooltip" title="Min number of groups">Min</th>
          <th data-toogle="tooltip" title="Max number of groups">Max</th>

          <th data-toogle="tooltip" title="Number of Connections">N</th>
          <th data-toogle="tooltip" title="Connections Average Time">Avg</th>
          <th data-toogle="tooltip" title="Confidence Interval">C-95%</th>
          <th data-toogle="tooltip" title="Min Connection Time">Min</th>
          <th data-toogle="tooltip" title="Max Connection Time">Max</th>

          <th data-toogle="tooltip" title="Number of connections failures">N</th>
          <th data-toogle="tooltip" title="Number average time">Avg</th>
          <th data-toogle="tooltip" title="Number confidence interval">C-95%</th>

          <th data-toogle="tooltip" title="Number of Discoveries">N</th>
          <th data-toogle="tooltip" title="Discovery Average Time">Avg</th>
          <th data-toogle="tooltip" title="Number confidence interval">C-95%</th>
      </tr>
    </thead>
    <tbody>
      {% set n_reps = stats.reps|length %}
      {% set n_rows = n_reps + 1 %}
      {% for d in stats.delays %}
        <tr><td rowspan={{n_rows}}>{{d}}</td>
        {% for r in stats.reps %}
          {% if loop.index == 1 %}
            <td>{{r}}</td>
            {{print_row(stats[d][r]['stats'])}}</tr>
          {% else %}
            <tr>
              <td>{{r}}</td>
              {{print_row(stats[d][r]['stats'])}}
            </tr>
          {% endif %}
        {% endfor %}
        <tr>
          <td>Aggr</td>
          {{print_row(stats[d]['aggr']['stats'])}}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
