{% extends "index.html" %}
{% block content %}

{% macro print_dev_row(data) -%}
  <td>{{data.name}}</td>
  <td>{{data.conn_first|round(1)}}</td>
  <td>{{data.conn_last|round(1)}}</td>
  {% set conns = data.conns %}
  <td>{{conns.success.cnt}}</td>
  <td>{{conns.fail.cnt}}</td>
  <td>{{conns.server_rcv}}</td>
  <td data-toogle="tooltip" title="{{conns.fail.avg|round(1)}}">{{conns.success.avg|round(1)}}</td>
  <td>{{data.dis.cnt}}</td>
  <td>{{data.dis.avg|round(2)}}</td>
  <td>{{data.dis.min|round(2)}}</td>
  <td>{{data.dis.max|round(2)}}</td>
  <td>{{data.vis.cnt}}</td>
  <td>{{data.vis.avg|round(1)}}</td>
{%- endmacro %}

<div class="table-responsive">
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th rowspan="2" data-toogle="tooltip" title="Delay time in seconds">Delay</th>
        <th rowspan="2" data-toogle="tooltip" title="Experiment repetition number">Rep</th>
        <th rowspan="2" data-toogle="tooltip" title="Device name">Name</th>
        <th rowspan="2" data-toogle="tooltip" title="Time that took the first connection">First Conn</th>
        <th rowspan="2" data-toogle="tooltip" title="Titme that took the last connection">Last Conn </th>
        <th colspan="4">Connections</th>
        <th colspan="4">Discovery</th>
        <th colspan="2">Advertise</th>
      </tr>
      <tr>
        <th data-toogle="tooltip" title="Number of connections success">Succ</th>
        <th data-toogle="tooltip" title="Number of connections fails">Fail</th>
        <th data-toogle="tooltip" title="Number of connections received">Rcv</th>
        <th data-toogle="tooltip" title="Average connection time in seconds">Avg</th>
        <th data-toogle="tooltip" title="Number of discovery attempts">N</th>
        <th data-toogle="tooltip" title="Discovery average time in seconds">Avg</th>
        <th data-toogle="tooltip" title="Discovery min time in seconds">Min</th>
        <th data-toogle="tooltip" title="Discovery max time in seconds">Max</th>
        <th data-toogle="tooltip" title="Number of advertisement attempts">N</th>
        <th data-toogle="tooltip" title="Advertiser average time in seconds">Avg</th>
      </tr>
    </thead>
    <tbody>
      {% set n_reps = stats.reps|length %}
      {% set n_devs = stats.devs|length %}
      {% set n_rows = n_devs * n_reps %}
      {% for d in stats.delays %}
        <tr><td rowspan={{n_rows}}>{{d}}</td>
        {% for r in stats.reps %}
          {% if loop.index == 1 %}
            <td rowspan="{{n_devs}}">{{r}}</td>
          {% else %}
            <tr><td rowspan={{n_devs}}>{{r}}</td>
          {% endif %}
          {% for data in stats[d][r] %}
            {% if loop.index == 1 %}
              {{print_dev_row(data)}}</tr>
            {% else %}
              <tr>{{print_dev_row(data)}}</tr>
            {% endif %}
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
