{% extends "base.html" %}
{% macro print_navs(navs_list, nav_active, base_path) -%}
    <ul class="nav nav-pills justify-content-center">
      {% for n in navs_list %}
        <li class="nav-item">
          {% set class = 'active' if n == nav_active else '' %}
          <a class="nav-link {{class}}" href="{{base_path + n}}">{{n|replace('_', ' ')|capitalize}}</a>
        </li>
      {% endfor %}
    </ul>
{%- endmacro %}

{% block navs %}
  {% for (list, active, base_path) in navs %}
    {{ print_navs(list, active, base_path) }}
  {% endfor %}
{% endblock %}
